body {
	margin:0;
	font-family: 'Roboto';
	font-size: 12px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	color:#ffffff;
}

#container {
	height:100%;
}

/*
 * TEXT STYLES
 */

h2 {
	font-size: 240%;
	padding:0px;
	margin:0px;
	line-height:normal;
	font-weight:200;
	margin-bottom:20px;
}

h3 {
	font-size: 120%;
	display:inline;
	line-height:normal
}

/*
 * MAP STYLES
 */
#map {
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	z-index:1;
	background-color: #fff;
}

.marker {
	background-color:#e0d1b3;
	border-radius:50%;
	width:50%;
	height:50%;
	-webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
	border: 1px solid #666;
	text-align:center;
	color:#000;
	vertical-align: middle; 
	line-height:36px;
}

.marker.cluster {
	background-color:#cc603e;
	border: none;
}

/*
 * RECORDING POPUP
 */
 
#recording {
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	z-index: 1000;
}

.recording-item {
	display:table-cell;
	vertical-align: middle;
}

.center-item {
	display:table;
	text-align:center;
	background-image: url("../images/fg.png");
	background-color:#f3fffe;
	color:#000000;
	padding:20px;
	border-radius:50%;
	width:400px;
	height:400px;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-shadow: 4px 6px 52px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 6px 52px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 6px 52px 0px rgba(0,0,0,0.75);
}

.centered-text {
	margin-top: -100px;
	display:table-cell;
	vertical-align: middle;
}
 
/*
 * MODAL DIALOG
 */

.modal-dialog {
	/*-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);*/
    webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.modal-dialog.transition {
	-webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.modal-dialog.hidden {
	/*-webkit-transform: translate3d(0%, -20%, 0);
    transform: translate3d(0, -20%, 0);*/
  	webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0
}

/*
 * HELPERS
 */
 
.middle-parent {
	display: table;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.center {
	text-align:center;
}